<% include partials/header.ejs%>
  <h1>Testing my Postgres database</h1>
  <% ebooks.forEach(ebook) { %>
    <%= ebook.title %>
    <% } %>

  <h1>Testing my API</h1>
    <ul>
      <!-- passed {movieList: body} -->
      <li>ISBN: <%=searchRequest%></li>
      <li>Title (trackName): <a href="<%= iTunesResults[0].trackViewUrl %>"> <%= iTunesResults[0].trackName %> </a></li>
      <li>Author (artistName): <%= iTunesResults[0].artistName %></li>
      <li><img src="<%=iTunesResults[0].artworkUrl100%>"></li>
      <li>Description: <%=iTunesResults[0].description%></li>
      <li>(No publisher/imprint information provided.)</li>
      <li>Pricing:<ul>
        <% var countries = ["United States", "Great Britain", "Australia", "Canada", "France", "Germany"]; %>
        <% for (var i = 0; i < iTunesResults.length; i++) { %>
        <li><%=countries[i]%>: <%=iTunesResults[i].formattedPrice%> <%=iTunesResults[i].currency%></li>
          <% }%>
        </ul>
      </li>
    </ul>
  
<% include partials/footer.ejs%>