<% include partials/header.ejs%>
<div class="container"> 
  <div class="jumbotron"> 
    <div class="row">
      <div class="col-xs-12">
        <h2>eBook Dashboard, ISBN: <%=searchRequest%></h2>
      </div> <!-- closes headline -->
      <div class="col-xs-6">

        <ul class="list-group">
          <li class="list-group-item active"><h3>Publisher Information</h3></li>
        
          <li class="list-group-item">title: <%= ebook.title %></li>
          <li class="list-group-item">author: <%= author.displayName %></li>
          <li class="list-group-item"><img src="<%=ebook.coverImgUrl%>" height="100" width="75"></li>
          <li class="list-group-item"><small>description: <%= ebook.description %></small></li>
          <li class="list-group-item">Price: <a href="ebook.ebookUrl">$<%= ebook.price %>.00</a> <br>
          Click price to view on publisher website</li>
        </ul> 

      </div><!--close left column -->


      <div class="col-xs-6">

        <ul class="list-group" class="panel panel-primary">
          <li class="list-group-item active"><h3>Apple iBookstore API</h3></li>
        
          <li class="list-group-item">trackName: <%= iTunesResults[0].trackName %></li>
          <li class="list-group-item">artistName: <%= iTunesResults[0].artistName %></li>
          <li class="list-group-item"><img src="<%=iTunesResults[0].artworkUrl100%>"></li>
          <li class="list-group-item"><small>description: <%=iTunesResults[0].description%></small></li>
          <li class="list-group-item">Pricing:
            <ul>
              <% var countries = ["United States", "Great Britain", "Australia", "Canada", "France", "Germany"]; %>
              <% for (var i = 0; i < iTunesResults.length; i++) { %>
              <li><a href="<%= iTunesResults[i].trackViewUrl %>"><%=countries[i]%>: <%=iTunesResults[i].formattedPrice%> <%=iTunesResults[i].currency%></a></li>
                <% }%>
            </ul>
            Click price to view ebook in iTunes store
          </li>
        </ul> 

      </div><!--close right column -->

    </div> <!-- close row -->
  </div> <!-- close jumbotron -->
</div> <!-- close container -->

  
<% include partials/footer.ejs%>