<% include partials/header.ejs%>

<ul class="nav nav-tabs" style="margin-bottom: 15px;">
  <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
  <li><a href="#profile" data-toggle="tab">Profile</a></li>
  <li class="disabled"><a>Disabled</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Dropdown <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#dropdown1" data-toggle="tab">Action</a></li>
      <li class="divider"></li>
      <li><a href="#dropdown2" data-toggle="tab">Another action</a></li>
    </ul>
  </li>
</ul>

<!-- 
<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Home</a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Active</a></li>
      <li><a href="#">Link</a></li>
      
    </ul>
     -->
    <!-- <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div> <!-- close navbar header -->
</div> <!-- close navbar -->
 -->
  <h1>From local Postgres database</h1>

    <ul>
      <li><h2>Title: <%= ebook.title %></h2></li>
      <li>Author: <%= author.displayName %></li>
      <li>ISBN: <%= ebook.isbn %></li>
      <li><img src="<%=ebook.coverImgUrl%>" height="200" width="175"></li>
      <li>Description: <%= ebook.description %></li>
      <li>Pricing: $<%= ebook.price %>.00</li>
    </ul>  

  <h1>From the Apple iTunes Store API</h1>
    <ul>
      <!-- passed {searchRequest, ebooks, iTunesResults} -->
      <li><h2>Title (trackName): <a href="<%= iTunesResults[0].trackViewUrl %>"> <%= iTunesResults[0].trackName %> </a></h2></li>
      <li>Author (artistName): <%= iTunesResults[0].artistName %></li>
      <li>ISBN: <%=searchRequest%></li>
      <li><img src="<%=iTunesResults[0].artworkUrl100%>"></li>
      <li>Description: <%=iTunesResults[0].description%></li>
      <li>Pricing:<ul>
        <% var countries = ["United States", "Great Britain", "Australia", "Canada", "France", "Germany"]; %>
        <% for (var i = 0; i < iTunesResults.length; i++) { %>
        <li><a href="<%= iTunesResults[i].trackViewUrl %>"><%=countries[i]%>: <%=iTunesResults[i].formattedPrice%> <%=iTunesResults[i].currency%></a></li>
          <% }%>
        </ul>
      </li>
    </ul>
  
<% include partials/footer.ejs%>